@page


@{
    var teams = new List<Team>();
    teams.Add(new Team(10,"River Plate"));
    teams.Add(new Team(11,"Juventud"));
}

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope='col'># Registro</td>
                    <th scope='col'># Registro</td>
                </tr>
            </thead>
            <tbody> 
                @{
                    foreach (var team in teams)
                    {
                    <tr>
                        <td>#@team.Id</td>
                        <td>@team.Name</td>
                    </tr>
                    }
                }
                
                  
            </tbody>
        </table>
    </div>
</div>